main{
    letter-spacing: 5px;
    color: #484848;
    pointer-events: all;
    opacity: 1;
    transition: all 1s ease 0.5s;
}

main.open{
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease 0.1s;
}

.section-one{
}

.background-theme-container {
    display: flex;
}

.theme-one{
    position: relative;

}

.content-one{
    position: absolute;
    right: 75px;
    top: 200px;
    text-align: justify;
}

.caption-one{
    font-size: 50px;
    font-weight: bold;
}

.caption-two{
    font-size: 45px;
    font-weight: bold;
}