* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#eeefe9;
}

header {
    background-color: #eeefe9;
    text-align: center;
}

.logo {
    cursor: pointer;
}

nav {
    display: flex;
    font-weight: bold;
}

.nav-bar {
    flex: auto;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    display: inline-block;
    padding: 10px 50px;
}

.nav-bar ul li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #484848;
}

.nav-bar ul li a:hover {
    color: #a51d35;
}

.login-conatiner {
    float: right;
}

.login {
    cursor: pointer;
}

@media screen and (max-width:950px) {

    .logo {
        z-index: 2;
    }
    
    .line {
        width: 30px;
        height: 5px;
        background-color:#a51d35 ;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        left: 2.5%;
        top: 25%;
        transform: translate(2.5%, -25%);
        z-index: 2;
    }
    
    .nav-links {
        position: fixed;
        background-color: #eeefe9;
        width: 100%;
        height: 100vh;
        padding-left: 50%;
        clip-path: circle(50px at 5% 0%);
        -webkit-clip-path: circle(50px at 5% 0%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1250px at 5% 0%);
        -webkit-clip-path: circle(1250px at 5% 0%);
        pointer-events: all;
    }

    .nav-bar ul li {
        display: flex;
        padding: 35px;
    }

    .nav-bar ul li a {
        transition: all 0.3s ease 0s;
    }
    
}

@media screen and (max-width:1250px){

    .nav-bar ul li {
        padding-left: 0px;
        padding-right: auto;
    }

}