* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* navigation bar */
header {
    background-color: #eeefe9;
    text-align: center;
}

.logo {
    cursor: pointer;
}

nav {
    display: flex;
    font-weight: bold;
    letter-spacing: 3px;
    position: sticky;
    background-color: #eeefe9;
    width: 100%;
}

.nav-bar {
    flex: auto;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    display: inline-block;
    padding: 10px 40px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #484848;
}

.nav-bar ul li a:hover {
    color: #a51d35;
}

.login-conatiner {
    float: right;
}

.login {
    cursor: pointer;
}

#check{
    display: none;
}

label #btn ,label #cancel{
    position: absolute;
    cursor: pointer;
    background-color:#eeefe9;
    border-radius: 3px;
}

label #btn{
    left: 25px;
    top:7px;
    font-size: 35px;
    color:#a51d35;
    padding: 6px 12px;
    visibility: hidden;
    pointer-events: none;
}

label #cancel{
    z-index:1111;
    left:195px;
    top:10px;
    font-size: 30px;
    color: #a51d35;
    padding: 4px 9px;
    visibility: hidden;
    pointer-events: no;
}

@media screen and (max-width:950px) {

    .logo {
        z-index: 2;
    }

    nav {
        position: relative;
    }

    .nav-bar ul a{
        transition: .4s ;
    }

    .nav-bar ul a:hover{
        padding-left: 50px;
    }


    .nav-bar ul li{
        display: block;
        padding: 35px 0px;
    }

    .nav-links {
        position: fixed;
        background-color: #eeefe9;
        top: 125px;
        left: -250px;
        width: 250px;
        height: 100%;
        pointer-events: all;
        transition: all 0.4s ease;
    }
    
    label #btn{
        position: absolute;
        visibility: visible;
        pointer-events: all;
        transition: all .5s;
    }

    label #cancel{
        transition: all .2s;
    }

    #check:checked ~ .nav-bar ul {
        left:0px;
    }
    
    #check:checked ~ label #btn {
        left:0px;
        opacity: 0;
        pointer-events: none;
    }
    
    #check:checked ~ label #cancel {
        left:195px;
        visibility: visible;
    }

    #check:checked ~ .theme-one {
        margin-left: 250px;
    }
    
}

@media screen and (max-width:1250px){

    .nav-bar ul li {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* background image */

.section one{
    position: relative;
}

.theme-one{
    background-image: url("../../media/image/background-image.jpg");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.content-one{
    color: #484848;
}

.content-one-a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: bold;
    font-size: 6vh;
    top: 25%;
    right: 7.5%;
    letter-spacing: 1.5px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.content-one-a:hover{
    font-size:6.175vh;
    color: #a51d35;
}

.content-one-b{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: 500;
    font-size: 2.75vh;
    top:42%;
    right: 13%;
    color: #484848;
}

@media screen and (max-width:1350px){
    .content-one-a{
        font-size: 5.75vh;
        top:21%;
        right:6%;
    }
    .content-one-a:hover{
        font-size:5.9vh;
    }

    .content-one-b{
        font-size: 2.5vh;
        top:36%;
        right:13%;
    }
}

@media screen and (max-width:1150px){
    .content-one-a{
        font-size: 5.5vh;
        top:19%;
        right:5%;
    }
    .content-one-a:hover{
        font-size:5.65vh;
    }

    .content-one-b{
        font-size: 2.25vh;
        top:34%;
        right:14%;
    }
}

@media screen and (max-width:1000px){
    .content-one-a{
        font-size: 5.25vh;
        top:17%;
        right:4%;
    }
    .content-one-a:hover{
        font-size:5.4vh;
    }

    .content-one-b{
        font-size: 2.25vh;
        top:31%;
        right:13%;
    }
}

@media screen and (max-width:950px){
    .content-one-a{
        font-size: 5vh;
        top:16%;
        right:3.5%;
    }
    .content-one-a:hover{
        font-size:5.15vh;
    }

    .content-one-b{
        font-size: 2.15vh;
        top:30%;
        right:12%;
    }
}

@media screen and (max-width:800px){
    .content-one-a{
        font-size: 4.75vh;
        top:15%;
        right:2%;
    }
    .content-one-a:hover{
        font-size:4.9vh;
    }

    .content-one-b{
        font-size: 2vh;
        top:28%;
        right:10%;
    }
}

@media screen and (max-width:750px){
    .content-one-a{
        font-size: 4.5vh;
        top:15%;
        right:2%;
    }
    .content-one-a:hover{
        font-size:4.65vh;
    }

    .content-one-b{
        font-size: 1.825vh;
        top:26.5%;
        right:12%;
    }
}

@media screen and (max-width:700px){
    .content-one-a{
        font-size: 4vh;
        top:15%;
        right:2%;
    }
    .content-one-a:hover{
        font-size:4.15vh;
    }

    .content-one-b{
        font-size: 1.75vh;
        top:25%;
        right:10%;
    }
}

@media screen and (max-width:500px){
    .content-one-a{
        font-size: 3.5vh;
        top:15%;
        right:0%;
    }
    .content-one-a:hover{
        font-size:3.65vh;
    }

    .content-one-b{
        font-size: 2vh;
        top:24%;
        right:5%;
    }
}

/* player-stats */

.section-two{
    margin-top: 25px;
}

.heading-one{
    font-size: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.theme-two{
    background-color: #eeefe9;
    width: 100%;
    height: 85vh;
    margin-top: 75px;
    position: relative;
}

.content-two{
    position: absolute;
    top: 935px;
    overflow: hidden;
}

.slides-container-one{
}

.slides-one{
    display: flex;
    margin-left: 350px;
}

.images-one{
    width: 70%;
    height: 70vh;
}

.side-bar-one{
    position: absolute;
    top: 885px;
    background-color: #eeefe9;
    width: 351px;
    height: 85vh;
}

.side-bar-two{
    position: absolute;
    top: 885px;
    background-color: #eeefe9;
    width: 351px;
    height: 85vh;
    right: 0px;
}

#prev-btn-one{
    position: absolute;
    top:1200px;
    left: 360px;
    color: #eeefe9;
    font-size: 40px;
    cursor: pointer;
}

#next-btn-one{
    position: absolute;
    top:1200px;
    right: 360px;
    color: #eeefe9;
    font-size: 40px;
    cursor: pointer;
}

/* news and updates */

.section-three{
    margin-top: 50px;
}

.heading-two{
    font-size: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.theme-three{
    margin-top: 50px;
    background-color: #eeefe9;
    width: 100%;
    height: 90vh;
    position: relative;
}

.content-three{
    position: absolute;
    top: 1750px;
    left: 150px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
}

.grid-item{
}

.content-three-a{
    width: 250px;
    height: 250px;
}

.thumbnail{
    background-image: url('../../media/image/news/thumbnail.jpg');
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-left: auto;
    background-position: center;
    transition:0.75s;
    overflow: hidden;
}

.thumbnail:hover{
    background-position: center;
    transform: scale(1.075);
}

.thumbnail-cap{
    color: #484848;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
}

.thumbnail-cap a{
    text-decoration: none;
    color: #484848;
    transition: all 0.25s ease;
}

.thumbnail-cap a:hover{
    color: #a51d35;
    font-size: 22px;
}

.link-to-news{
    position: absolute;
    top: 2325px;
    left: 710px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}

.link-to-news a{
    color: #a51d35;
    font-size: 18px;
    text-decoration: none;
    transform:all 0.5s ease;
}

.link-to-news a:hover{
    color: #484848;
}

/* gallery section */

.section-four{
    margin-top: 50px;
}

.heading-three{
    font-size: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.theme-four{
    background-color: #eeefe9;
    width: 100%;
    height: 85vh;
    margin-top: 75px;
    position: relative;
}

.content-four{
    position: absolute;
    top: 2600px;
    overflow: hidden;
}

.slides-container-two{
}

.slides-two{
    display: flex;
    margin-left: 350px;
}

.images-two{
    width: 70%;
    height: 70vh;
}

.side-bar-three{
    position: absolute;
    top: 2547.5px;
    background-color: #eeefe9;
    width: 351px;
    height: 85vh;
}

.side-bar-four{
    position: absolute;
    top: 2547.5px;
    background-color: #eeefe9;
    width: 351px;
    height: 85vh;
    right: 0px;
}

#prev-btn-two{
    position: absolute;
    top:2850px;
    left: 360px;
    color: #eeefe9;
    font-size: 40px;
    cursor: pointer;
}

#next-btn-two{
    position: absolute;
    top:2850px;
    right: 360px;
    color: #eeefe9;
    font-size: 40px;
    cursor: pointer;
}

.link-to-gallery{
    position: absolute;
    top: 3165px;
    left: 710px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}

.link-to-gallery a{
    color: #a51d35;
    font-size: 18px;
    text-decoration: none;
    transform:all 0.5s ease;
}

.link-to-gallery a:hover{
    color: #484848;
}

/* footer-container */

.footer-container{
    position: relative;
    top: 100px;
    background-color: #eeefe9;
    width: 100%;
    height: 50vh;
    font-size: 18px;
    font-weight: bold;
}

.footer-theme{
}

.footer-content{
    position: absolute;
    display: flex;
    top: 75px;
}

.footer-content-a{
    
    background: url('../../media/image/logo-full.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: 125px;
    margin-right: 150px;
    cursor: pointer;
}

.footer-content-b{
    margin-left: 150px;
    margin-right: 125px;
}

.quick-links{
    color: #a51d35;
    list-style: none;
}

.quick-links li{
    padding-top: 10px;
}

.quick-link{
    color: #484848;
    text-decoration: none;
    transition: 0.5s;
}

.quick-link:hover{
    color: #a51d35;
    margin-left: 5px;
}

.footer-content-c{
    color: #a51d35;
    margin-left: 150px;
    margin-right: 125px;
    padding: 10px;
}

.footer-content-c div{
    font-size: 22px;
}

.footer-content-c input{
    padding: 7px;
}

#submit-btn{
    font-size: 16px;
    color: #eeefe9;
    font-weight: bold;
    background-color: #484848;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0px 17.5px;
    padding: 5px 40px;
    transition: 0.5s;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: #a51d35;
}