* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

header {
}

.nav {
    position: relative;
}

.bar {
    display: flex;
    background-color: gray;
}

.logo-container {
}

.logo{
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 2.5%;
    top: 5%;
    transform: translate(-5%, -50%);
}

.line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
}

.nav-container {
    position: fixed;
    width: 100%;
    background-color: gray;
    clip-path: circle(100px at 97.5% -17.5%);
    -webkit-clip-path : circle(100px at 97.5% -17.5%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.nav-container.open {
    clip-path: circle(2000px at 97.5% -17.5%);
    -webkit-clip-path : circle(2000px at 97.5% -17.5%);
    pointer-events: all;
}

.nav-bar {
   width: 50%;
   margin: auto;
}

.nav-bar ul {
    list-style: none;
    width: 25%;
    margin: auto;
}

.nav-bar ul li {
    text-decoration: none;
    padding: 35px;
}

.nav-bar ul li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: aliceblue;
}

.nav-bar ul li a:hover {
    color: #0088a9 ;
}

main {

}
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {

}

.form-container form {
    display: flex;
    flex-direction: column;
}