* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #eeefe9;
}

/* navigation bar */

.bar {
    background-color: #eeefe9;
    position: relative;
    text-align: center;
    padding-bottom: 52px;
}

.logo{
    cursor: pointer;
    width: 300px;
}

.nav-container{
    position: absolute;
    top: 71px;
    left: 0px;
    background-color: #eeefe9;
}

.nav-bar {
    position: fixed;
    top: 125px;
    width: 250px;
    left: -250px;
    letter-spacing: 3px;
    background-color: #eeefe9;
    height: 100%;
    transition:all 0.5s ease;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    text-decoration: none;
    padding: 30px;
    text-align: center;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #484848;
    transition: .4s;
}

.nav-bar ul li a:hover {
    color: #a51d35 ;
    padding-left: 50px;
}

#check{
    display: none;
}

label #btn ,label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: #eeefe9;
    border-radius: 3px;
}

label #btn{
    left: 25px;
    top:7px;
    font-size: 35px;
    color:#a51d35;
    padding: 6px 12px;
    transition: .4s;
}

label #cancel{
    z-index:1111;
    left:195px;
    top:10px;
    font-size: 30px;
    color: #a51d35;
    padding: 4px 9px;
    visibility: hidden;
    transition: all 0.1s ;
}

#check:checked ~ .nav-bar {
    left:0px;
}

#check:checked ~ label #btn {
    left:0px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left:195px;
    visibility: visible;
}

#check:checked ~ main {
    margin-left: 250px;
}

/* main-container */

main{
    width: 100%;
}
.login-container {
    width: 320px;
    height: 420px;
    background-color: #484848;
    top: 57.5%;
    left:50%;
    position: absolute;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 35%;
}

.login-container h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.login-container label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}

.login-container input{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.login-container input[type="email"] , .login-container input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login-container input[type="submit"]{
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    background-color:  #a51d35;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    background-size: 200%;
    margin-top: 20px;
}

.login-container input[type="submit"]:hover{
    background-color: white;
    color: #484848;
}

.form-control small{
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

.form-control.success small{
    visibility: hidden;
}

/* footer-container */

.footer-container{
    position: relative;
    top: 650px;
    background-color: #eeefe9;
    width: 100%;
    height: 50vh;
    font-size: 18px;
    font-weight: bold;
}

.footer-theme{
}

.footer-content{
    position: absolute;
    display: flex;
    top: 75px;
}

.footer-content-a{
    
    background: url('../../media/image/logo-full.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: 125px;
    margin-right: 150px;
    cursor: pointer;
}

.footer-content-b{
    margin-left: 150px;
    margin-right: 125px;
}

.quick-links{
    color: #a51d35;
    list-style: none;
}

.quick-links li{
    padding-top: 10px;
}

.quick-link{
    color: #484848;
    text-decoration: none;
    transition: 0.5s;
}

.quick-link:hover{
    color: #a51d35;
    margin-left: 5px;
}

.footer-content-c{
    color: #a51d35;
    margin-left: 150px;
    margin-right: 125px;
    padding: 10px;
}

.footer-content-c div{
    font-size: 22px;
}

.footer-content-c input{
    padding: 7px;
}

#submit-btn{
    font-size: 16px;
    color: #eeefe9;
    font-weight: bold;
    background-color: #484848;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0px 17.5px;
    padding: 5px 40px;
    transition: 0.5s;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: #a51d35;
}